<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Carbon Calculator</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Taviraj&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="left">
            <a href="/">FlightCarbon.com</a>
        </div>
        <div class="right" style='padding-right: 50px;'>
            <a href="/how-it-works/">HOW IT WORKS</a>
            <a href="/about/">ABOUT</a>
            <a href="/api/">API</a>
        </div>
    </header>

    <div>
        <h2>About FlightCarbon.com</h2>
        <p style='max-width: 600px;
        text-align: center;
        margin: auto;
        line-height: 1.4em;'>
            The aviation sector is one of the fastest-growing polluters. It currently accounts for about 2% of global
            emissions but that figure could more than double by 2050 according to research by Manchester Metropolitan
            University – or triple if planes don’t become substantially more fuel efficient. New airports continue to
            open and new routes are being added to airline schedules.
            <br /><br />
            According to forecasts, 2019 will be another record-breaking year for air travel, with passengers expected
            to fly a total of 8.1tn km, up 5% from last year.
            <br /><br />
            Find out how much carbon emissions your travels are creating and learn more about alternative ways to reduce
            your carbon footprint!
        </p>
        <br /><br />
        Read more at <a
            href="https://www.theguardian.com/travel/2019/jul/31/carbon-calculator-find-out-how-much-co2-your-flight-will-emit#targetText=According%20to%20forecasts%2C%202019%20will,up%205%25%20from%20last%20year">The
            Guardian</a>
    </div>

    <footer>
        A project by <a href="https://www.samanthamy.com/">Samantha</a> and <a href="https://simmsreeve.com">Joe</a>
    </footer>
</body>

</html>