<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Carbon Calculator</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Taviraj&display=swap" rel="stylesheet">

    <!-- Search Engine -->
    <meta name="description" content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="image" content="https://flightcarbon.com/">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="FlightCarbon">
    <meta itemprop="description"
        content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta itemprop="image" content="https://flightcarbon.com/screenshot1.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="FlightCarbon">
    <meta name="twitter:description"
        content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="twitter:site" content="@hack_the_press">
    <meta name="twitter:creator" content="@hack_the_press">
    <meta name="twitter:image:src" content="https://flightcarbon.com/screenshot1.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="FlightCarbon">
    <meta name="og:description" content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="og:image" content="https://flightcarbon.com/screenshot1.png">
    <meta name="og:url" content="https://flightcarbon.com/">
    <meta name="og:site_name" content="Flight Carbon">
    <meta name="og:type" content="website">
</head>

<body>
    <header>
        <div class="left">
            <a href="/">FlightCarbon.com</a>
        </div>
        <div class="right" style='padding-right: 50px;'>
            <a href="/how-it-works/">HOW IT WORKS</a>
            <a href="/about/">ABOUT</a>
            <a href="/api/">API</a>
        </div>
    </header>

    <div>
        <h2>🎉 Free Flight Carbon API 🎉</h2>
        <p>
            GET requests to:
            <pre><code>https://flightcarbon.com/api/flight/:flightNumber</code></pre><br />
            E.g. <a href="https://flightcarbon.com/api/flight/BA7351">/api/flight/BA7351</a>
        </p>
    </div>

    <footer>
        A project by <a href="https://www.samanthamy.com/">Samantha</a> and <a href="https://simmsreeve.com">Joe</a>
    </footer>
</body>

</html>