<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{flightNumber}} Flight Carbon Calculator</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Taviraj&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-swoopy"></script>


</head>

<body>
    <header>
        <div class="left">
            <a href="/">FlightCarbon.com</a>
        </div>
        <div class="right" style='padding-right: 50px;'>
            <a href="/how-it-works/">HOW IT WORKS</a>
            <a href="/about/">ABOUT</a>
            <a href="/api/">API</a>
        </div>
    </header>
    <div>
        <div class="hero row">
            <div>
                <img src="/BlackFootprint.png" alt="">
                <div style='display:inline-block;'>
                    <div class='header'><span class="carbon">?</span>Kg of CO<sub>2</sub></div>
                    <div>YOUR FLIGHT CARBON FOOTPRINT</div>
                </div>
            </div>
        </div>
        <div class="row center">
            <div>
                <div class="img"><img src="/fuelBurn.png" alt=""></div>
                <div class="title">TOTAL FUEL BURN</div>
                <div class="value"><span class="fuelBurn">?</span> Kg</div>
            </div>
            <div>
                <div class="img"><img src="/passenger.png" alt=""></div>
                <div class="title">PER PASSENGER</div>
                <div class="value"><span class="perPassenger">?</span> Kg</div>
            </div>
            <div>
                <div class="img"><img src="/aircraftEfficiency.png" alt=""></div>
                <div class="title">AIRCRAFT EFFICIENCY</div>
                <div class="value"><span class="aircraftEfficiency">?</span> Kg/Km</div>
            </div>
            <!-- <div class="error page" style='display:none;'></div> -->
        </div>
    </div>

    <div class="row center">
        <span>Find a low-carbon alternative at <a href="https://kiwi.com">kiwi.com</a> and <a
                href="https://rebellion.earth/">join the rebellion</a></span>
    </div>

    <div class="row" style='height:300px;'>
        <div id='map' style='width:100%;height:300px;'></div>
    </div>

    <footer>
        A project by <a href="https://www.samanthamy.com/">Samantha</a> and <a href="https://simmsreeve.com">Joe</a>
    </footer>

</body>

<script>
    async function app() {
        const { flightNumber } = JSON.parse(`{{{rawJSON}}}`);
        try {
            const data = await fetch(`/api/flight/${flightNumber}`).then(r => r.json());
            // document.querySelector('.loading').remove();

            if (data.error) {
                document.querySelector('.error').textContent = data.error;
                document.querySelector('.error').style.display = 'block';
                return;
            }

            document.querySelector('.carbon').textContent = Math.round(data.passengerCO2);
            document.querySelector('.fuelBurn').textContent = Math.round(data.totalFuelBurn * 100) / 100;
            document.querySelector('.perPassenger').textContent = Math.round(data.passengerCO2 * 100) / 100;
            document.querySelector('.aircraftEfficiency').textContent = Math.round(data.aircraftFuelBurn * 100) / 100;


            const map = L.map('map').setView([51.505, -0.09], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

            const latlngs = [
                [data.fromCoords.lat, data.fromCoords.lng], [data.toCoords.lat, data.toCoords.lng]
            ];
            var polyline = L.polyline(latlngs)
            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());

            const swoopy = L.swoopyArrow([data.fromCoords.lat, data.fromCoords.lng], [data.toCoords.lat, data.toCoords.lng], {
                // label: flightNumber,
                color: '#009688',
                arrowFilled: true,
                opacity: 1,
                minZoom: 2,
                maxZoom: 10,
                factor: .6,
                iconAnchor: [75, 5],
                iconSize: [85, 16],
                weight: 4
            }).addTo(map);
        } catch (err) {
            // document.querySelector('.loading').remove();
            // document.querySelector('.error').textContent = err.message;
            // document.querySelector('.error').style.display = 'block';
        }
    }

    app();
</script>

</html>