<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{flightNumber}} Flight Carbon Calculator</title>
</head>

<body>
    <h2>Flight {{flightNumber}}</h2>
    <div class="loading">
        <h1>Loading...</h1>
    </div>
    <div class="page" style='display:none;'>
        <h1>Carbon Footprint: <span class="footprint"></span></h1>
    </div>
    <!-- <h1>Carbon Footprint {{passengerCO2}}</h1> -->

    <pre>{{rawJSON}}</pre>
</body>

<script>
    async function app() {
        const { flightNumber } = JSON.parse(`{{{rawJSON}}}`);
        const data = await fetch(`/flightCarbon/${flightNumber}`).then(r => r.json());

        document.querySelector('.loading').remove();
        document.querySelector('pre').textContent = JSON.stringify(data, null, '\t')


        document.querySelector('.footprint').textContent = data.passengerCO2;

        document.querySelector('.page').style.display = 'block';
    }

    app();
</script>

</html>