<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Carbon Calculator</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Taviraj&display=swap" rel="stylesheet">




    <!-- Search Engine -->
    <meta name="description" content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="image" content="https://flightcarbon.com/">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="FlightCarbon">
    <meta itemprop="description"
        content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta itemprop="image" content="https://flightcarbon.com/screenshot1.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="FlightCarbon">
    <meta name="twitter:description"
        content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="twitter:site" content="@hack_the_press">
    <meta name="twitter:creator" content="@hack_the_press">
    <meta name="twitter:image:src" content="https://flightcarbon.com/screenshot1.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="FlightCarbon">
    <meta name="og:description" content="Input your flight number and find out what your flight's carbon footprint is.">
    <meta name="og:image" content="https://flightcarbon.com/screenshot1.png">
    <meta name="og:url" content="https://flightcarbon.com/">
    <meta name="og:site_name" content="Flight Carbon">
    <meta name="og:type" content="website">


</head>

<body>
    <header>
        <div class="left">
            <a href="/">FlightCarbon.com</a>
        </div>
        <div class="right" style='padding-right: 50px;'>
            <a href="/how-it-works/">HOW IT WORKS</a>
            <a href="/about/">ABOUT</a>
            <a href="/api/">API</a>
        </div>
    </header>
    <div>
        <div>
            <img src="/icon.png" style='width:13em;' alt="">
        </div>
        <h1 style="line-height:1em;font-family: 'Taviraj', serif;margin-bottom:5px;font-size: 2.4em;">Find your flight
            carbon
            footprint
        </h1>
        <div class="form-wrapper">
            <form action="#">
                <div class="line">
                    <input type="text" name="" id="" placeholder="Search by flight number" minlength="4"
                        onfocus="showDropdown()" onblur="hideDropdown()">
                    <button><img src="/search.svg" alt="" style='height:50%;'></button>
                </div>
                <div class="dropdown">
                    <hr />
                    <a href="/flight/BA7351"><strong>BA7351 -</strong> London to Sao Paolo</a>
                    <a href="/flight/AM7004"><strong>AM7004 -</strong> Paris to Prague</a>
                    <a href="/flight/VY8301"><strong>VY8301 -</strong> Amsterdam to Barcelona</a>
                    <a href="/flight/AC737"><strong>AC737 -</strong> Toronto to San Francisco</a>
                    <a href="/flight/VY1817"><strong>VY1817 -</strong> Munich to Rome</a>
                </div>
            </form>
        </div>
    </div>
    <footer>
        A project by <a href="https://www.samanthamy.com/">Samantha</a> and <a href="https://simmsreeve.com">Joe</a>
    </footer>

    <script>
        function showDropdown() {
            document.querySelector('.dropdown').style['max-height'] = '200px';
        }
        function hideDropdown() {
            document.querySelector('.dropdown').style['max-height'] = '0px';
        }
        document.querySelector('form').onsubmit = function (ev) {
            const flightNumber = ev.target.querySelector('input').value.replace(/[^0-9a-Z]/g, '');
            if (flightNumber.length > 3) {
                ev.preventDefault();
                location.href = `/flight/${flightNumber}`;
            }
        };
    </script>
</body>

</html>