<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Carbon Calculator</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>

<body>
    <h1>✈️ FlightCarbon.com</h1>
    <div class="calculator">
        <form action="#">
            <input type="text" name="" id="" placeholder="BA7351">
            <button>submit</button>
        </form>
    </div>

    <script>
        document.querySelector('form').onsubmit = function (ev) {
            ev.preventDefault();
            const flightNumber = ev.target.querySelector('input').value;
            location.href = `/flight/${flightNumber}`;
        };
    </script>
</body>

</html>